@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}


.home ul li{
    display: flex;
    width: 15px;
    list-style: none;
    gap: 15px;
    padding-top: 13px;
    font-weight: bold;
}

.heading{
    display: flex;
    width: 100%;
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    padding-top: 13px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.library{
    min-height: 77vh;
    position: relative;
}

.heading img{
    width: 30px;
}


.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;;
}

.footer a{
    color: grey;

}



.right{
    position: relative;
    margin: 16px 0;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header > *{
    padding: 20px;
}

.spotifyplaylists{
    padding:16px
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh;
    
}

.card{
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 1s;
}

.card:hover{
    background-color: rgb(201, 196, 196);
    cursor: pointer;
    
}
.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    position: absolute;
    right: 10px;
    top: 145px;
    opacity: 0;
    transition: all 1s ease-out;
}

.play:hover{
    opacity: 1;
}

.buttons > * {
    margin: 0 12px;
}

.Signupbtn{
    background-color: rgb(34 34 34);
    font-weight: bold;
    color: rgb(156, 148, 148);
    border: none;
    outline: none;
    cursor: pointer;
}
.Signupbtn:hover{
    font-size: 17px;
    color: white;
    font-weight: bold;
   
}

.loginbtn{
    background-color: rgb(34 34 34);
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.loginbtn:hover{
    font-size: 17px;
    color: rgb(204, 203, 203);
    font-weight: bold;
}



.playbar{
    position: fixed;
    bottom: 20px;
    background-color: rgb(51 51 51);
    padding: 12px;
    min-width: 70vw;
    border-radius: 16px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 2px;
}

.songList ul{
     padding: 0 10px;
}

.songList{
    height: 455px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.songList .info{
    font-size: 13px;
    width: 344px;
}

.seekbar{
    height: 4px;
    width: 70vw;
    background-color:  rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    cursor: pointer;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    bottom: 4px;
    left: 0%;
    transition: lefft 0.5 ;
}

.timebomb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.range input{
  cursor: pointer;
}

.songbuttons img{
    cursor: pointer;
}

.songinfo , .songtime{
    padding: 0 12px;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}

.hamburger{
    display: none;
}

.left .close {
    display: none;
}
/*media css*/

@media (max-width: 1100px){
    .left{
        background-color: rgb(0, 0, 0);
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 300px;
    }

    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
        display: block;
    }

    .right{
         width: 100vw;
    }

    .playbar{
       width: 88vw;
    }
     
    .seekbar{
        width:88vw
    }

    .hamburger{
        display: block;
        width: 40px;
    }

    .hamburgerCont{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .card{
        width: 88vw;
    }

    .cardContainer{
        margin: 0px;
        justify-content: center;
    }

    .abovebar{
     flex-direction: column;
     gap: 23px;
     align-items: center;
     font-size: 25px;
    }

    .fnt{
        height: 30px;
    }

    .timebomb{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
}
